*
!/.gitignore
!/.magento.app.yaml
!/.magento.env.yaml*
!/.magento
!/.magento/**
/.magento/local
!/app
!/app/*/
!/app/code/**
!/app/design/**
!/app/etc/config.php
!/app/i18n/**
!/auth.json
!/build_options.ini
!/composer.json
!/composer.lock
!/magento-vars.php
!/m2-hotfixes
!/m2-hotfixes/**
!/php.ini
!/update
!/update/.htaccess
!/README.md
!/op-exclude.txt
!/.github
!/.github/**
!/package.json
!/yarn.lock
!/.stylelintrc.json
!/commitlint.config.js
!/.eslintrc
/app/code/**/Test/**/var
!/test_stg1
!/test_stg1/e2e
!/test_stg1/e2e/cypress
!/test_stg1/e2e/cypress/API
!/test_stg1/e2e/cypress/API/*
!/test_stg1/e2e/cypress/e2e
!/test_stg1/e2e/cypress/e2e/features
!/test_stg1/e2e/cypress/e2e/features/*
!/test_stg1/e2e/cypress/fixtures
!/test_stg1/e2e/cypress/fixtures/*
!/test_stg1/e2e/cypress/fixtures/servicios_externos
!/test_stg1/e2e/cypress/fixtures/servicios_externos/*
!/test_stg1/e2e/cypress/pageObjects
!/test_stg1/e2e/cypress/pageObjects/*
!/test_stg1/e2e/cypress/support
!/test_stg1/e2e/cypress/support/*
!/test_stg1/e2e/cypress/support/step_definitions
!/test_stg1/e2e/cypress/support/step_definitions/*
!/test_stg1/e2e/cypress.config.js
!/test_stg1/e2e/package.json
!/test_stg1/e2e/package-lock.json
!/test_stg2
!/test_stg2/e2e
!/test_stg2/e2e/cypress
!/test_stg2/e2e/cypress/API
!/test_stg2/e2e/cypress/API/*
!/test_stg2/e2e/cypress/e2e
!/test_stg2/e2e/cypress/e2e/features
!/test_stg2/e2e/cypress/e2e/features/*
!/test_stg2/e2e/cypress/fixtures
!/test_stg2/e2e/cypress/fixtures/*
!/test_stg2/e2e/cypress/fixtures/servicios_externos
!/test_stg2/e2e/cypress/fixtures/servicios_externos/*
!/test_stg2/e2e/cypress/pageObjects
!/test_stg2/e2e/cypress/pageObjects/*
!/test_stg2/e2e/cypress/support
!/test_stg2/e2e/cypress/support/*
!/test_stg2/e2e/cypress/support/step_definitions
!/test_stg2/e2e/cypress/support/step_definitions/*
!/test_stg2/e2e/cypress.config.js
!/test_stg2/e2e/package.json
!/test_stg2/e2e/package-lock.json